{% extends 'user_app/base.html' %}
{% load static %}

{% block title %}{{ title }} {% endblock %}

{% block context %}
  <link rel="stylesheet" href="{% static 'user_app/css/person.css' %}">
<div class="body_person">
    <div class="border_b1 m-1">
        <a href="{%url 'resume_urls:index'%}" class="btn btn-outline-light">Главная страница</a>
        {% if user.is_authenticated%}
					<a href="{%url 'user_urls:profile'%}" class="btn btn-outline-light">Изменить профиль</a>
					<a href="{%url 'user_urls:exit' %}?next={{ request.path }}" class="btn btn-outline-light">Выйти</a>
			{% else %}
					<a href="{% url 'user_urls:reg' %}?next={{ request.path }} " class="btn btn-outline-light">Регистрация</a>
					<a href="{% url 'user_urls:user' %}?next={{ request.path }} " class="btn btn-outline-light">Войти</a>
			{% endif %}
    </div>
    <h1 class="text-center "> {{request.user.username}} </h1>


    <div class="d-flex flex-wrap justify-content-xl-center ">
        <div class="card text-white bg-dark mb-3 text-center m-3" style="max-width: 19rem;">
          <div class="card-header border_b3"><h3>ToDo Session</h3></div>
          <div class="card-body">
            <h5 class="card-title border_b1 ">
                У Вас {{count_todo}} дней с незавершенными ToDо
            </h5>

            <p class="card-text ">
                {%if not todo_actual_session%}
                    У вас завершены все ToDo за прошедшие дни
                {% else %}
                    {% for day in todo_actual_session%}
                          <a href="{% url 'resume_urls:todo_session_day' day.slug %}" class="text-center">
                              <button type="button" class="btn btn-outline-light">{{day.name}}</button>
                          </a>
                        {% for todo in day.actual|slice:":3" %}
                          <p class="mt-2" > {{todo}} </p>
                        {% endfor %}
                    {% endfor%}
                {% endif %}
            </p>
          </div>
        </div>

        <div class="card text-white bg-dark m-3 text-center " style="max-width: 19rem;">
          <div class="card-header border_b3"><h3>Отправка письма</h3></div>
          <div class="card-body">
            <h5 class="card-title border_b1" >Сколько писем Вы можете отправить сегодня</h5>
            <p class="card-text" style="top: 50%;"><h3>{{count_mail}}</h3></p>
          </div>
        </div>
        <div class="card text-white bg-dark m-3 text-center " style="max-width: 19rem;">
          <div class="card-header border_b3"><h3>Тесты</h3></div>
          <div class="card-body">
            <h5 class="card-title border_b1" >Пройдено тестов</h5>
            <p class="card-title " style="top: 50%;"><h3>{{count_quiz}}</h3></p>
              <p class="border_b3"></p>
            <h5 class="card-title border_b1" >Процент правильных ответов</h5>
            <p class="card-text" style="top: 50%;"><h3>{{quiz_percent_positive}}%</h3></p>
          </div>
        </div>

        <div class="card text-white bg-dark m-3 text-center" style="max-width: 19rem;">
          <div class="card-header border_b3"><h3>BloG</h3></div>
          <div class="card-body">
            <h5 class="card-title border_b1" >Количество Ваших публикаций</h5>
            <p class="card-text" >
                <h3>Мои категории : {{count_cat}}</h3>
                 <h3>Мои статьи : {{count_post}}</h3>
                <h3>Мои комментарии : {{count_comm}}</h3>
              </p>
          </div>
        </div>
    </div>
</div>
{% endblock context %}