{% extends "mptt_blog/base.html" %}
{% load mptt_tags %}
{% load static %}
{% block title %}Список категорий{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'mptt_blog/css/mptt_blog.css' %}">

<div class="page-wrapper">
  <div class="left-panel-wrapper">
    <div class="left-panel">
		<div class="sidebar">
			<a class="border_but" href="{% url 'resume_urls:index' %}"><span class="border_but">Резюме</span><a>

			<span >BloG</span>

			{% recursetree object_list %}
    			<a href="{{node.get_absolute_url}}">{{node.title}}</a>
			{% endrecursetree %}
		</div>
	  </div>
  	</div>


  <div class="content-wrapper">
    <div class="content">
    	<div class=" text-center">
      		<h1 class="mt-3 text-center">Случайные статьи</h1>
				<div class="d-flex flex-wrap justify-content-xl-center ">

        				{% for post in posts %}
							<div class="card_paper_border" >

        	    				<a class="card_paper_2 dec_a " style="text-decoration: none;" href="{{post.get_absolute_url}}">
									<div class="card_paper_title" >
										<h3 class="font_title_text " >{{post.title}}</h3>
									</div>
								</a>

								<div class="support_peper_text  p-1">

									<div class="footer_support_peper_text">

										<div style="">
											<p class="font_s m-0">Автор: <span class="">{{post.author}}</span> </p>
											<span class="font_s ">Likes <span class="like-count{{post.id}}">{{post.like_count}}</span> </span>
										</div>

										{%if user.is_authenticated%}
											<div class="card_paper_support d-flex justify-content-center mb-0 row " >
												<form action="{% url 'mptt_blog_urls:like' %}" method="POST" class="like-form col"  id="{{post.id}}">
													<button type="submit"  class="font_s like_btn_style like-btn{{post.id}}">
														{% if post.is_like %}
															{{like_text}}
														{% else %}
															{{UnLike_text}}
														{%endif%}
													</button>
												</form>
												|
												<form action="{% url 'mptt_blog_urls:favourites' %}" method="POST" class="favourites-form col" id="{{post.id}}">
													<button type="submit"  class="font_s like_btn_style favourites-btn{{post.id}}">
														{% if post.is_favour %}
															{{fav_true_text}}
														{% else %}
															{{fav_false_text}}
														{% endif %}
													</button>
												</form>
											</div>

										{% endif %}
									</div>
								</div>
									<div class="" style="">
								    	<div class="text-center p-1 branch_div text-wrap">
											{% for link in post.links %}
												/<a style="word-wrap: break-word;" href="{{link.1}}" class="font_s card_paper_3 text-center ml-1 dec_a">{{link.0}}</a>
											{% endfor%}
										</div>
									</div>
							</div>
        				{%endfor%}
				</div>
    	</div>
    </div>
  </div>

  <div class="right-panel-wrapper">
    <div class="right-panel">
		<div class="sidebar">
			{%if user.is_authenticated%}
				<span >Инструменты</span>
				<a href="{% url 'mptt_blog_urls:category_no_parent_create' %}" class="" >Добавить тему</a>
				<span>Авторизация</span>
				<span >{{user.username}}</span>

				<a href="{%url 'user_urls:profile'%}">Изменить профиль</a>
				<a href="{%url 'user_urls:exit' %}?next={{ request.path }}">Выйти</a>
			{% else %}
			<span>Авторизация</span>
			 	<a href="{% url 'user_urls:reg' %}?next={{ request.path }} ">Регистрация</a>
				<a href="{% url 'user_urls:user' %}?next={{ request.path }} ">Войти</a>
			{% endif %}
		</div>
	</div>
  </div>
</div>

<script>

  $('.like-form').submit(function (e) {
    e.preventDefault();

    var prodid = $(this).attr('id')
	console.log(prodid)

    $.ajax({
      type: 'POST',
      url: '{% url "mptt_blog_urls:like" %}',
      data: {
		postid: prodid,
       	csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {

		$(`.like-btn${prodid}`).text(json['like'])
		$(`.like-count${prodid}`).text(json['result'])

      },
      error: function (xhr, errmsg, err) {

      }
    });
  })


  $('.favourites-form').submit(function (e) {
    e.preventDefault();

    var prodid = $(this).attr('id')
	console.log(prodid)

    $.ajax({
      type: 'POST',
      url: '{% url "mptt_blog_urls:favourites" %}',
      data: {
		postid: prodid,
       	csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
		console.log(prodid)

		$(`.favourites-btn${prodid}`).text(json['fav_btn_text'])


      },
      error: function (xhr, errmsg, err) {

      }
    });
  })



</script>
{% endblock %}