{% extends 'ather/base.html' %}
{% load static %}



{%block context%}
<link rel="stylesheet" href="{% static 'ather/css/congratulation.css' %}">
    <div class="background-image" style="background-image: url('{{person.image.url}}');"></div>

<div class="container">
    <div class="text-center">
        <p class="text-center">Дорогой {{person.name}}!</p>
        <p style="font-size: 30px;">{{person.text1|safe}}</p>
    </div>
    <div class="d-flex justify-content-center d-flex">

        <iframe width="1000" height="700" src="{{person.video_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></iframe>
    </div>
    <div class="d-flex justify-content-center d-flex flex-wrap mt-5">
        <!-- Gallery -->
        {%for i in images%}
            <img alt="dsa" class="img-thumbnail" src="{{i.image.url}} ">
        {%endfor%}
        <!-- Gallery -->
    </div>
</div>
{%endblock%}