{%extends 'quiz/base.html' %}

{%block title%}Результат теста{%endblock%}

{%block content%}
<div class="container text-center">
    <div class="progress_info">

        <span class="text_finish_quiz">
            <h1>Вы ответили на {{percent}}% вопросов верно</h1>
        </span>

        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{percent}}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{percent_negative}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="">
            <p><h2>Тест: {{quiz}}</h2></p>
            <p><h4>Верных ответов: {{right_user_answer}}</h4></p>
            <p><h4>Количество вопросов: {{questions_count}}</h4> </p>

        </div>
        <a href="{% url 'quiz_urls:restart_test' quiz.pk %}"><button type="submit" class="btn btn-primary">Пройти снова</button></a>

    </div>
</div>
{%endblock%}