{% extends 'resume/base.html' %}
{% load static %}

{% block title %} {{project.name}} {% endblock %}
{%block context%}

<link rel="stylesheet" href="{% static 'resume/css/cardproject.css' %}">
<div class="container decorat">
  <div class="card mt-10 " style="border: 2px solid #69da6d83;">
    <div class="row g-0 ">
      <div class="col-md-12 text-center">
        <div class="card-body" >
          {% if  project.link_site%}

                <a  class="button_user " href="{{project.link_site}}"><h2>Перейти на {{project.name}}</h2></a>


          {% else %}
                <h2 class="card-title">Название проекта: {{project.name}}</h2>
          {% endif %}

          <p class="card-text">О проекте: {{project.about}}</p>
          {% if project.api_docs_url %}
              <a class="button_user " href="{{project.api_docs_url}}">Документация API</a>
              <a class="button_user " href="{{project.api_swag_url}}">Swagger API</a>
          {% endif %}

          <p class="card-text">Статус проекта: {{project.get_status_display}}</p>

          <p class="card-text decorat"> Технологии:
              {% for st in stacks %}
                  <a class="button_user " href="{{st.get_absolute_url}}">{{st}}</a>
              {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
{% for card in cards %}
  <div class="card mt-2 det_prod " style="border: 2px solid #69da6d83;">
    <div class="row">
      <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title">Раздел: {{card.title}}</h5>
          <p class="card-text">{{card.text|safe}}</p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{%endblock%}