{% extends 'resume/base.html' %}
{% block title %} Отравить ссылку на почту  {% endblock %}
{%block context%}
{%if count %}
<center><h5> Вы можете сегодня отправить {{count}} {{letter}}</h5></center>
<div class="d-flex justify-content-center mt-3">
    <div class ='centered '>

    <form  method="post" class="">
                    {% csrf_token %}
                    {{ form}}
    <input type="submit" value="Отправить" class = 'btn btn-outline-secondary mt-2'>
    </form>
    </div>
    
</div>
{% else %}
    <center><h2>Сегодня Вы больше не можете оправлять письма</h2></center>
{% endif %}

{%endblock%}

