.list_quiz{
    background: red;
}

.text_header{
    text-align: center;
    color: rgb(223, 235, 212);
}
.cont_back{
    background-image: url("https://s9.travelask.ru/uploads/post/000/026/422/main_image/full-2498dc0982cc91f9340d46524ca58be5.jpg");
    background-repeat: no-repeat;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100%;
    width:100%;
}


.head_folder{

    width: 110px;
    height: 13px;
    background: #F4F358;
    border-top-right-radius: 3px;
    border-top-left-radius: 5px;
}

.head_folder_peper{
    float: right;
    width: 170px;
    height: 5px;
    background: white;
    border-top-right-radius: 2px;

}

.folder{
    max-width: 280px;
    word-wrap: break-word;

}
.folder a {
    text-decoration: none;
    color: black;

}

.folder_bottom{
    width: 280px;
    height: 140px;
    background: linear-gradient(to bottom, #f4f358, #efee56, #e9e854, #e4e352, #dfde50, #dad94e, #d5d44c, #d0cf4a, #cac947, #c3c245, #bdbc42, #b7b640);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


.cont_folder{
    transition: 0.1s;
    text-align: center;

}

.cont_folder:hover{
    background: rgba(179, 245, 220, 0.37);

    border-radius: 2px;
}

.quiz_folder_name{
    color: black;
}

.question_answer_form{
    border-top: 2px solid rgba(0, 0, 0, 0.432);
    
}
.question_answer{
    width: 500px;
    max-width: 500px;

    background: rgb(241, 241, 238);
    border: 1px solid rgba(0, 0, 0, 0.432);
    border-radius: 1px;
    
}

.border_bott{

    border-bottom: 1px solid black;
}

.icon_table{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9aUTC1ZfexBSPtFNtChjicro8goDWiJHLAioON6IfDFvWatURliGV7ogIN9ifx9ASZYI&usqp=CAU");
}

tr {
    margin: 3px ;

}

td{

    padding: 5px;

}

.border_td{
    border: 1px solid black;
    background: rgb(255, 255, 255);
}

.checkbox{
    accent-color: black;
    background: rgb(241, 241, 238);
}
.check-btn{
    width:100px;

}


input[type="checkbox"]{

    background: black;

}

input[type="range"],
progress {
	margin-left: auto;
	flex: 0 1 50%;
}

.question_answer_h{
    height: 100%;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}