{% extends "mptt_blog/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Список категорий {% endblock %}

{% block content %}



<div class="page-wrapper ">
  <div class="left-panel-wrapper">
    <div class="left-panel">
		<div class="sidebar">
            <a class="border_but" href="{% url 'resume_urls:index' %}"><span class="border_but">Резюме</span><a>
            <a href="{{object.category.get_absolute_url}}">{{object.category.title}}</a>

                <a href="{% url 'mptt_blog_urls:category_mptt' object.category.url %}" class="" >Вернуться в статьи </a>
		</div>
	  </div>
  	</div>


  <div class="content-wrapper">
    <div class="content font_title_text">
    	<div class="">

            <h2 class="post_title text-center">{{object.title|capfirst}}</h2>
            <div class="d-flex justify-content-between m-2">

                <div>
                    <span> Автор: {{object.author}} |</span>
                    <span> Дата создания: {{object.created}} </span>
                </div>

                <div>
                     {% if user.is_authenticated %}
                        <button class="button_form_a " value="{{object.id}}" id="like-button">
                           {%if like_flag%}
                               {{like_text}}
                           {% else%}
                              {{UnLike_text}}
                           {% endif%}
                        </button>
                    {% endif %}
                    <span class="post_title p-2 text-center " id="like_count">{{object.like_count}} </span>
                    <span class=""> Likes </span>

                </div>

            </div>

            <div class="card mb-3 ">
                <div class=" post_text  font_title_text"><span class=" ">{{object.content|safe}}</span>
                    <div class="d-flex justify-content-center">

                    </div>
                </div>
            </div>


            {% if user.is_authenticated %}
            <form method="post"  class=" text-center" >
                {%csrf_token%}
                {{form.text.errors}}
                {% render_field form.text class+="comment_post_form text-center " %}

                <input type="hidden" name="post" value="{{object.pk}}" />
                <button class="button_form mb-2 " type="submit"> Добавить комментарий </button>
            </form>
            {% else %}
                <span class="text-center"> <h4>Для того что бы оставить комментарий, нужно авторизоваться.</h4></span>
            {% endif %}



        <div  class="text-center">
            {% for comment in comments %}
                <div class="comment mb-3 ">
                  <div class="card-body ">
                    <h5 class="card-title">{{comment.text}} </h5>
                      <div class="card_paper_support d-flex justify-content-center mt-1 row">
                          <div class="col-6 d-flex justify-content-start">
                            <span class="ml-3">Автор: {{comment.author}}</span>
                            <span class="ml-3"><small class="text-muted"> Дата создания : {{comment.created}}</small></span>
                            {% if user.is_authenticated and request.user == comment.author %}
                                  <a href="{% url 'mptt_blog_urls:comm_del' object.category.url object.pk comment.pk %}" class="ml-3"><small class="text-muted">Удалить комментарий</small></a>
                            {% endif %}
                          </div>

                          <div class="col-6 d-flex justify-content-end ">

                            <a type="submit"  class="like-comment font_s like_btn_style ml-2" id="{{comment.id}}"> <span class="like-comment-btn{{comment.id}}">
                                {% if comment.is_likes %}
                                   {{ like_text}}
                                {% else %}
                                    {{ UnLike_text}}
                                {% endif %}
                            </span> </a>
                            <div class="font_s ml-3"> Likes <span class=" font_s like-comment-count{{comment.id}}"> {{comment.like_count}}</span></div>
                        </div>



                       </div>
                  </div>
                </div>
            {% endfor %}
        </div>

    	</div>

    </div>
  </div>

  <div class="right-panel-wrapper">
    <div class="right-panel">
		<div class="sidebar">

            {%if user.is_authenticated and user == object.author%}
                    <span >Инструменты</span>
                        <a href="{% url 'mptt_blog_urls:post_update' object.category.url object.pk %}" class="" >Обновить </a>
                        <a href="{% url 'mptt_blog_urls:post_del' object.category.url object.pk %}" class="" >Удалить</a>
                    <span >Авторизация</span>
				    <span >{{user.username}}</span>
				        <a href="{%url 'user_urls:profile'%}">Изменить профиль</a>
				        <a href="{%url 'user_urls:exit' %}?next={{ request.path }}">Выйти</a>
            {%elif user.is_authenticated and user != object.author%}
                    <span >Авторизация</span>
                    <span >{{user.username}}</span>
				        <a href="{%url 'user_urls:profile'%}">Изменить профиль</a>
				        <a href="{%url 'user_urls:exit' %}?next={{ request.path }}">Выйти</a>

		    {% else %}
				<span>Авторизация</span>
			 	    <a href="{% url 'user_urls:reg' %}?next={{ request.path }} ">Регистрация</a>
				    <a href="{% url 'user_urls:user' %}?next={{ request.path }} ">Войти</a>
			{% endif %}

                {%if user.is_authenticated %}
                  <span>Избранное</span>
                    <a href="{% url 'mptt_blog_urls:fav_show_all' %}">Посмотреть все избранные</a>
                {% if favourite_flag %}
                    <a href="{% url 'mptt_blog_urls:fav' object.category.url object.pk %}">Удалить из избранное</a>
                {% else %}
                    <a href="{% url 'mptt_blog_urls:fav' object.category.url object.pk %}">Добавить в избранное</a>
                {% endif %}
            {% endif %}

            <span>Системные уведомления</span>
            {% if messages %}
                <ul class="messages m-0 p-0 text-center">
                    {% for message in messages %}
                    <li {% if message.tags %} class="alert {{ message.tags }} p-1"{% endif %}>

                        {{ message }}

                    </li>
                    {% endfor %}
                </ul>
            {% endif %}

		</div>
	</div>
  </div>
</div>






<script>

  $(document).on('click', '#like-button', function (e) {
    e.preventDefault();
    var postid= $(this).data('index')
    $.ajax({
      type: 'POST',
      url: '{% url "mptt_blog_urls:like" %}',
      data: {
        postid: $('#like-button').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'post'
      },
      success: function (json) {
        document.getElementById("like_count").innerHTML = json['result']
        document.getElementById("like-button").innerText = json['like'];
      },
      error: function (xhr, errmsg, err) {

      }
    });
  })

$(document).on('click', '.like-comment', function (e){
    e.preventDefault();
    console.log('WORK')
    var commentid = $(this).attr('id')
	console.log(commentid)
    $.ajax({
      type: 'POST',
      url: '{% url "mptt_blog_urls:like-comment" %}',
      data: {
		commentid: commentid,
       	csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {

		$(`.like-comment-btn${commentid}`).text(json['like'])
		$(`.like-comment-count${commentid}`).text(json['result'])

      },
      error: function (xhr, errmsg, err) {

      }
    });
  })



</script>


  {% endblock %}
