
{% extends "mptt_blog/base.html" %}
{% load static %}

{% block title %} Удаление {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'mptt_blog/css/mptt_blog.css' %}">


<div class="main">
    <div class="form-create">

        <div class="m-3 form" >

            <h1>Вы точно хотите удалить  {{object.title}}?</h1>

        <form method="post" class="">

            {%csrf_token%}

            {{form.as_p}}

            {{form.title.errors}}
            <input type="hidden" name="parent" value="{{obj.pk}}" />
            

            <button class="btn btn-danger" type="submit" value="{{object}}"> Удалить </button>
            <a class="button_form_a link" href="{{object.get_absolute_url}}">Я передумал </a>
        </form>

        </div>
    </div>
</div>    
{% endblock %}