

{%if not user.is_authenticated%}
    <a href="{%url 'user_urls:reg'%}">
      <button class="{{style_btn1}}">Регистрация</button>
    </a>
    <a href="{%url 'user_urls:user'%}">
        <button class="{{style_btn1}}">Войти</button>
    </a>
  {%else%}
    <a href="{%url 'user_urls:profile'%}">
        <button class="{{style_btn1}}">Профиль</button>
    </a>
    <a href="{%url 'user_urls:exit'%}">
        <button class="{{style_btn1}}">Выйти</button>
    </a>
  {%endif%}
    <a href="{%url 'resume_urls:index'%}">
        <button class="{{style_btn1}}">Главная страница</button>
    </a>